<%= render partial: "/posts/header" %>

<div id = "indexUsers" >
	<table style = "width:100%">
		<tr>
			<th>Username </th>
			<th>Name </th>
			<th>Email </th>
			<th>Created at </th>
			<%if session[:user_id] == "razvan3" %>
				<th>Delete user</th>
			<%end%>
		</tr>
	<% @users.each do |user| %>
		<% next if user.role_id == 1 %>
		<%= render partial: "user", object: user %>
	<% end %>
	</table>
</div>