<div class = "showArticle">
	<div class = "artHead">
		<%= @post.title %>
	</div>
	<div class = "author">
		 By	<%= @post.name %> 
	</div>
	<div class = "showArtBody">
	<br/>
		<%= @post.content %>
	</div>

	<div class = "showImages">
		
	</div>

</div>