<div class = "indexArticle">
	<div class = "artHead">
		<%= @post.title %>
	</div>
	<div class = "author">
		 Author:	<%= @post.name %> 
	</div>
	<div class = "showArtBody">
		<%= @post.content %>
	</div>

	<div class = "showImages">
		
	</div>

</div>