<!DOCTYPE html>
<html>
	<body>
		<h2>Password recovery</h2><br/>
		<p>To change your password access the link below </p><br/>

		<%= link_to "Reset password", :controller => 'users', :action => 'edit', :only_path => false, :token => @token, host: @host%>
	</body>	


</html>