



.comName {
	height: 20px;
	width: auto;
	display: flex;
	font-weight: bold;
	margin-bottom: 5px;
	border-bottom: 1px solid ghostwhite;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
}

.comContent {
	height: auto;
	width: auto;
	display: block;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	
	box-shadow: 3px 3px 2px grey;
	border-radius: 6px;
	word-wrap: break-word;
}

.newComment {
	text-align: left;
	margin-left: 10px;
	display: none;
}

.comments{
	border-radius: 50px;
}

#deleteCom {
	transition: opacity 1s;
	text-decoration: none;
}

#deleteCom:hover {
	opacity: 0.1;
}

#addAComment{
	background-color: green;
	margin: 0px;
	width: 150px;
	padding: 8px;
	position: relative;
	left: 40%;
}

.commentMouse{
	color: white;
}