body {
	background: linear-gradient(#331a00, white);
	background-repeat: no-repeat;
}

.articles {
	display: block;
	width: 800px;
	position: relative;
	margin: auto;
	text-align: center;
	border-radius: 0px 0px 10px 10px;
	top: -15px;
	background: linear-gradient(skyblue, white);
	box-shadow: 10px 10px 5px grey;
	border-right: 4px solid ghostwhite;
	border-bottom: 4px solid white;
}

#indexArticles {
	width: auto;
	position: absolute;
	height: 100px;
}

.articleLink {
	text-decoration: none;
	color: black;
}

.articleLink:visited {
	color: black;
}

.articleLink:hover {
	/*opacity: 0.5;*/
	
}

div.indexArticle {
	background-color: ghostwhite;
	position: relative;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	width: 700px;
	height: auto;
	border-bottom: 3px solid lightgrey;
	border-right: 3px solid lightgrey;
	margin-bottom: 10px;
}

div.showArticle {
	background-color: ghostwhite;
	position: relative;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	width: 700px;
	height: auto;
	border-bottom: 3px solid lightgrey;
	border-right: 3px solid lightgrey;
	margin-bottom: 10px;
}

div.indexArticle:hover {
	box-shadow: 5px 5px 2px grey;
}

div.artHead {
	font-size: 30px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 2px solid lightgrey;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.indexArtBody {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

#pages {
	margin: auto;
	text-align: center;
}

.showArtBody {
	text-align: left;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	word-wrap: break-word;
}

.author {
	color: grey;
	text-align: left;
	margin-left: 10px;
	font-style: italic;
	display: inline-block;
	float: left;
}

.postAdmin {
	color: darkblue;
	text-align: left;
	font-weight: bold;
	margin-left: 10px;
	font-style: italic;
	display: inline-block;
	float: left;
}

.month {
	border-right: 3px solid darkgrey;
	border-bottom: 3px solid darkgrey;

	/*height: 20px;*/
	width: 50px;
	text-align: center;
	font-size: 20px;
	border-radius: 7px;
	position: relative;
	margin-right: 10px;
	float: right;
	background-color: ghostwhite;
	margin-top: 5px;
	margin-bottom: 5px;
}

.day {
	border-radius: 7px 5px 0px 0px;
	background-color: orange;

}

.editArticle {
	position: relative;
	bottom: 10%;
	right: -42%;
}

#accessDenied{
	position: relative;
	 margin: auto;
	 text-align: left;
	 width: 600px;
	 height: auto;
	 margin-top: 20%;
	 font-size: 30px;
	 color: red;
}


