#register {
	 position: relative;
	 margin: auto;
	 text-align: center;
	 width: 500px;
	 height: auto;
	 margin-top: 20%;
}

#indexUsers {
	position: relative;
	margin: auto;
	text-align: center;
	width: 500px;
	height: auto;
	margin-top: 20%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}

