#register {
	 position: relative;
	 margin: auto;
	 text-align: left;
	 width: 600px;
	 height: auto;
	 margin-top: 20%;
}

#indexUsers {
	position: relative;
	margin: auto;
	text-align: center;
	width: 800px;
	height: auto;
	margin-top: 20%;
}

table, th, td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 1px solid black;
	border-collapse: collapse;
	max-width: 300px;
}

th, td {
	padding: 5px;
	text-align: left;
}

#notice {
	color: red;
}